@model Vidlee.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<h1>@Model.Name</h1>
<ul>
    <li>Release Date: @Model.ReleaseDate.ToShortDateString()</li>
    <li>Genre: @Model.Genre.Name</li>
    <li>Date Added: @Model.DateAdded.ToShortDateString()</li>
    <li>Stock: @Model.Stock</li>
</ul>